$breakpoints: (
    mobile: 540px,
    large-mobile: 768px,
    tablet: 980px,
    labtop: 1200px
);

@mixin media-size($device) {
    @media screen and (max-width: map-get($breakpoints, $device)) {
        @content
    }
}