$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$title-font: 'DM Sans', sans-serif;

$lightgray: #E7E7E7;
$darkgray: #C7BEBE;
$filter1-color: #3282F7;
$filter2-color: #68D9A4;
$filter3-color: #ED6454;
$title-color: #D04F4F;

$body-maxwidth: 1440px;
