/* Main search bar */
.main-search {
    background: $lightgray;
    border-radius: 5px;
    Width: 100%;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__label {
        display: none;
    }
    &__input {
        border: none;
        background-color: inherit;
        flex-grow: 1;
        margin: 23px 0;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        @include media-size(mobile) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &::placeholder {
            opacity: 0.25;
        }
        &:focus-visible {
            outline: none;
        }
    }
    &__icon {
        font-size: 32px;
    }
}

/* Items selected */
.items-selected {
    margin-top: 25px;
}

.items-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    /*font-weight: 700;*/
    &--filter1 {
        background: $filter1-color;
    };
    &--filter2 {
        background: $filter2-color;
    };
    &--filter3 {
        background: $filter3-color;
    }
    &__name {
        line-height: 14px;
        padding-right: 10px;
    }
    &__icon {
        font-size: 20px;
    }
}