/* Main search bar */
.main-search {
    background: $lightgray;
    border-radius: 5px;
    Width: 100%;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__label {
        display: none;
    }
    &__input {
        flex-grow: 1;
        margin: 23px 0;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        @include media-size(mobile) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &::placeholder {
            opacity: 0.25;
        }
    }
    &__icon {
        font-size: 32px;
    }
}

/* Items selected */
.items-selected {
    margin-top: 25px;
}

.items-selected__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.item-selected {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    /*font-weight: 700;*/
    &--filter1 {
        background: $filter1-color;
    };
    &--filter2 {
        background: $filter2-color;
    };
    &--filter3 {
        background: $filter3-color;
    }
    &__name {
        line-height: 14px;
        padding-right: 10px;
    }
    &__icon {
        font-size: 20px;
    }
}

/* Filters buttons */
.dropdown {
    margin-top: 15px;
    display: flex;
}

.filter {
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    padding: 23px 0 23px 20px;
    &--1 {
        background-color: $filter1-color;
    }
    &--2 {
        background-color: $filter2-color;
    }
    &--3 {
        background-color: $filter3-color;
    }
    &__btn {
        display: flex;
    }
    &__label {
        display: none;
    }
    &__input {
        font-size: 18px;
        font-weight: bold;
        width: auto;
        display: block;
        text-align: start;
        appearance: auto;
        color: white;
        &::placeholder {
            color: white;
            opacity: 0.5;
        }
    }
    &__icon {

    }
    &__items-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        padding-top: 25px;
        width: auto;
    }
    &__item {
        width: 33.33%;
        font-size: 18px;
        padding-right: 20px;
    }
}